* {
    box-sizing: border-box;
}

[class*="col-"] {
    float:left;
    padding:10px;
}

.row::after {
    content:"";
    clear:both;
    display:table;
}

body {
    background-color: peachpuff;
    max-width:1200px;
    margin:0 auto;
}

.header {
    background-image: linear-gradient(black, darkslategray);
    height: 200px;
}

#top-heading {
    color: white;
    font-size: 56px;
    text-align: center;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

nav ul {
    text-align: center;
    list-style-type:none;
}

nav ul li {
    display: inline;
    color:white;
    padding:10px 15px;
    border: solid;
    border-color: white;
    border-radius: 20px;
    margin-right: 15px;
}

    nav ul li a {
        text-decoration: none;
        font-size: 20px;
        color: white;
        font-family: "Doto", sans-serif;
    }

.about-text {
    background-color: orangered;
}

#about-heading {
    font-family: "Doto", sans-serif;
}

p {
    font-family: "Doto", sans-serif;
}
#aboutimg {
    width:100%;
}

.about-img p{
    text-align:center;
}

.footer {
    background-color:darkolivegreen;
    height:200px;
}

h3 {
    font-size: 30px;
    font-family: "Doto", sans-serif;
    font-weight: 800;
    text-align: center;
    padding-top:30px;
}

.footer a {
    text-decoration: none;
    color: white;
    font-family: "Doto", sans-serif;
}


.col-1 {width:8.22%;}
.col-2 {width:16.66%;}
.col-3 {width:25%;}
.col-4 {width:33.33%;}
.col-5 {width:41.66%;}
.col-6 {width:50%;}
.col-7 {width:58.33%;}
.col-8 {width:66.66%;}
.col-9 {width:75%;}
.col-10 {width:83.33%;}
.col-11 {width:91.66%;}
.col-12 {width:100%;}

@media only screen and (max-width:600px) {
    #top-heading {
        color:blue;
    }
    [class*="col-1"] {
        width: 100%;
    }

    nav ul li {
        display: block;
    }

    .header {
        height:350px;
    }

}